.main-container {
    border: 1px solid #333;
    border-radius: 5px;
    width: 500px;
    margin: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}